body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  background-color: #1b1e2b;
  color: #eaeaea;
}

.state {
  fill: #dadada;
  stroke: #c8c8c8;
  stroke-width: 1;
}

.state:hover:not(.state-excluded):not(.state-focused) {
  cursor: pointer;
  fill: #d0d0d0;
  stroke: #bababa;
}

.state:active:not(.state-excluded),
.state-focused {
  stroke-width: 2;
  stroke: #6a6a6a !important;
}

.state-excluded {
  fill: #ebebeb;
  stroke: #e8e8e8;
}

.tooltip {
  background-color: #efefef;
  outline-style: solid;
  outline-width: 1px;
  outline-color: #8c8c8c;
  padding: 4px;
  user-select: none;
  color: #0a0a0a;
}

.tooltip-title {
  margin-top: 0px;
}

.tooltip-hint {
  font-size: 80%;
  margin-bottom: 0px;
}

.table {
  padding: 0px;
  margin: 0px;
  margin-top: 6px;
  margin-bottom: 8px;
  border-collapse: collapse;
}

.table-heading {
  text-align: left;
}

.table-text-input {
  border: none;
  border-bottom: 1px solid #a9a9a9;
  color: #eaeaea;
  max-width: 80px;
  max-height: 12px;
  background-color: transparent;
}

.table-text-input-error {
  border: none;
  border-bottom: 1px solid #ef0000;
}

.min-width-10 {
  min-width: 10vw;
}

.min-width-12 {
  min-width: 12vw;
}

.padding-left-1 {
  padding-left: 1vw !important;
}

.incumbent {
  border-radius: 50%;
  display: inline-block;
  width: 14px;
  height: 14px;
  color: #efefef;
  text-align: center;
  vertical-align: text-bottom;
  font-size: 12px;
  margin-left: 6px;
}

.race-overview {
  display: inline-block;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.root {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 8%;
}

.link-button {
  background: none;
  border: none;
  padding: 0;
  color: #5291ff;
  cursor: pointer;
}

.prediction-section {
  margin-bottom: 4vh;
}

button {
  background-color: rgb(0, 115, 128);
  border: none;
  color: white;
  padding: 5px;
  cursor: pointer;
}

.race-overview > button {
  max-width: 75px;
}

.candidate-rep:not(.incumbent) {
  color: #ff5260;
}

.candidate-dem:not(.incumbent) {
  color: #6eb1f5;
}

.candidate-ind:not(.incumbent) {
  color: #ffb721;
}

.candidate-oth:not(.incumbent) {
  color: #9a9a9a;
}

.candidate-rep .incumbent {
  background-color: #ff5260;
}

.candidate-dem .incumbent {
  background-color: #6eb1f5;
}

.candidate-ind .incumbent {
  background-color: #ffb721;
}

.candidate-oth .incumbent {
  background-color: #9a9a9a;
}

.modal-parent {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: unset;
  width: 30vw;
  height: 40vh;
  background-color: #efefef;
  color: #0a0a0a;
}

.static-tooltip {
  position: relative;
}

.static-tooltip .static-tooltip-contents {
  display: none;

  position: absolute;
  text-align: left;
  width: 20vw;
  cursor: auto;
}

.static-tooltip:hover .static-tooltip-contents {
  display: block;
}

.input-error {
  color: #ff0000;
}

.avatar {
  border-radius: 50%;
}

.ribbon-container {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #c8c8c8;
}

.ribbon {
  margin: 24px;
  display: flex;
  place-content: space-between;
  align-items: center;
  justify-content: middle;  
}

.ribbon-item {
  flex: 1;
  text-align: center;
}

.flex-4 {
  flex: 4!important;
}

.account-section {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  gap: 2%
}

.account-details-section {
  display: inline-grid;
}

.map {
  min-width: 728px;
  min-height: 456px;
}